body {
    margin: 0;
    background-color: #282C34;
}

* {
    box-sizing: border-box;
}

dl,
dd {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 5px;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: auto;
    }
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 1%;
    padding: 5px;
    border-radius: 5px;
    transition: all .3s;
}

@media screen and (min-width: 280px) {
    .item {
        width: 48%;
    }
}

@media screen and (min-width: 450px) {
    .item {
        width: 31.3333333%;
    }
}

@media screen and (min-width: 600px) {
    .item {
        width: 23%;
    }
}

@media screen and (min-width: 800px) {
    .item {
        width: 14.66666%;
    }
}

.item:hover {
    background-color: rgba(255, 255, 255, .1);
}

.item dl {
    width: 100%;
}

.item dt {
    --size: 100px;
    padding: 10px;
    height: var(--size);
    background: url(../images/folder.svg) no-repeat center center / var(--size) var(--size);
}

.img-item dt {
    background: none;
}

.img-item dt img {
    max-width: 100%;
}

.item dd {
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    z-index: 100;
}

.loading::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #fefefe;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.back-wrapper {
    display: none;
    padding: 15px;
}

.back {
    display: inline-flex;
    align-items: center;
    padding-left: 30px;
    color: #fefefe;
    transition: all .3s;
}

.back::before {
    --size: 6px;
    content: "";
    display: inline-block;
    width: var(--size);
    height: var(--size);
    border: 2px solid;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
}

.back:hover {
    color: #007daa;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}