QMainWindow {
    background-color: #131313;
}

QToolButton {
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

QToolButton::menu-indicator {
    width: 0;
}

QMenu {
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    background-color: #282828;
}

QMenu::item {
    padding: 5px;
}

QToolButton:hover, .nav-btn:hover {
    background-color: rgba(255, 255, 255, .1);
}

QToolButton:pressed,
QMenu::item:selected,
.nav-btn:pressed {
    background-color: rgba(255, 255, 255, .3);
}

.nav-btn:disabled {
    color: #999;
}

.nav {
    background-color: #303030;
}

.text, QMenu::item {
    color: #fff;
}

.nav-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}

.copyright {
    color: #999;
}