<span class="loading"></span>
<style>
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    :host {
        display: inline-block;
        padding: 1rem;
        border-radius: .5rem;
    }

    .loading {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: -0.125em;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: 0.75s linear infinite spin;
    }
</style>