<div class="message"></div>
<style>
    .message {
        position: relative;
        padding: 1rem 1rem;
        margin-top: 1.5rem;
        min-width: 200px;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: opacity .3s, margin .3s;
        pointer-events: initial;
        user-select: none;
    }
    
    .message:not(.show) {
        opacity: 0;
        margin-top: -2rem;
    }

    .message-primary {
        color: #084298;
        background-color: #cfe2ff;
        border-color: #b6d4fe;
    }

    .message-success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
    }

    .message-info {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
    }

    .message-danger {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
    }
</style>