<div class="root">
    <nav></nav>
    <div class="go-wrapper">
        <span>转至</span>
        <input class="input" />
        <span>页</span>
        <btn-comp size="sm" class="go">确定</btn-comp>
    </div>
</div>
<style>
    .root {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagination {
        display: flex;
        padding-left: 0;
        margin: 0;
        list-style: none;
        line-height: 1.2;
    }

    .page-link {
        position: relative;
        display: block;
        padding: .375rem .75rem;
        color: var(--primary-color);
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #dee2e6;
        transition: all .3;
        user-select: none;
    }

    .page-link:hover {
        z-index: 2;
        z-index: var(--primary-focus-color);
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .page-link:focus {
        z-index: 3;
        color: var(--primary-focus-color);
        background-color: #e9ecef;
        outline: 0;
    }

    .page-item:not(:first-child) .page-link {
        margin-left: -1px;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        background-color: #fff;
        border-color: #dee2e6;
    }

    .page-item:first-child .page-link {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .page-item:last-child .page-link {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    .go-wrapper {
        display: flex;
        align-items: center;
        margin: 0 .75rem;
        color: #999;
    }

    .go-wrapper .input {
        margin: 0 5px;
        width: 50px;
        padding: 0.375rem .5rem;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: .25rem;
        outline: none;
        transition: all .15s;
    }

    .go-wrapper .input:focus {
        border-color: var(--primary-focus-color);
        box-shadow: var(--focus-box-shadow);
    }

    .go-wrapper .go {
        margin-left: .5rem;
    }

    @media screen and (max-width: 550px) {
        .page-link {
            padding: .25rem .5rem;
        }

        .go-wrapper {
            display: none;
        }
    }
</style>