* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--body-color);
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
        sans-serif;
}

:root {
    font-size: 14px;
    --body-color: #212529;
    --primary-color: #0d6efd;
    --primary-focus-color: #0a58ca;
    --focus-box-shadow: 0 0 0.25rem 0 rgba(13, 110, 253, 0.5);
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 999999999;
}

body.overflow-hidden {
    overflow: hidden;
}
